*.autosave
*.bc
*.d
*.log
*.o
*.obj
*.os
*.so
*.pyc
*.tmp
*.dblite
.DS_Store
*.lib
*.exp
*.pdb
*.dll
*.ilk

__pycache__/
doc/site/
.trae/
compile_commands.json
.doctool_tmp/

shaders/dev/.godot/
*.gen.glsl
*.gen.h